In [2]:
print('hello')

hello

In [4]:
1+2

3

In [5]:
nam =12

In [6]:
name = 'sudhi'

In [8]:
'My name is{}, and name is{}'.format(nam,name)

'My name is12, and name issudhi'

In [12]:
s = 'hello'

In [13]:
s[0]

'h'

In [14]:
d ={'key1':'valeu1','key2':1213}

In [16]:
d['key2']

1213

In [17]:
1>3

False

In [18]:
3<4

True

In [19]:
3==3

True

In [20]:
2!=3

True

In [26]:
 if 1>2 :
        print('t')

In [27]:
s = [1,2,3,4]

In [32]:
for i in s:
    print(s)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [33]:
def square(num):
    """
    Multi line comment
    is used in python
    """
    return (num **2)

In [34]:
square(4)

16

In [1]:
1*2

2

In [2]:
def time(var):
    return var*2

In [5]:
time(2)

4

In [8]:
seq = [1,2,3,4,5]

In [11]:
list(map(time,seq))

[2, 4, 6, 8, 10]

In [13]:
t = lambda var:var*2

In [14]:
t(7)

14

In [15]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

In [17]:
list(filter(lambda num: num%2 ==0,seq))

[2, 4]

In [19]:
 s = 'Hello sudhir read the lessons fast'

In [20]:
s.lower()

'hello sudhir read the lessons fast'

In [22]:
s.upper()

'HELLO SUDHIR READ THE LESSONS FAST'

In [23]:
s.split()

['Hello', 'sudhir', 'read', 'the', 'lessons', 'fast']

In [24]:
d = {'k1':1,'k2':2}

In [25]:
d

{'k1': 1, 'k2': 2}

In [27]:
d.keys()

dict_keys(['k1', 'k2'])

In [28]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [29]:
d.values()

dict_values([1, 2])

In [30]:
d.keys()

dict_keys(['k1', 'k2'])

In [31]:
lst = [1,2,3]

In [32]:
lst.pop()

3

In [33]:
lst

[1, 2]

In [34]:
lst.append('new')

In [35]:
 'x' in [1,2,3]

False

In [36]:
'x' in ['x','y']

True

In [37]:
x = [(1,2),(3,4),(5,6)]

In [38]:
x

[(1, 2), (3, 4), (5, 6)]

In [39]:
x[1]

(3, 4)

In [40]:
x[0][1]

2

In [49]:
for a,b in x:
   
    print(a)

1
3
5

In [50]:
print(k)

None